body {
background-color: #1f1f2e;
}

#header {
    display: flex;
    border: 2px solid black;
    background-color: #000033;
    width: 100%;
    height: 2.5in;
    flex-wrap: wrap;
    text-align: center;
    
}

#headings {
    background-color:#000033;
    color:  #ff3300;
    box-shadow: 0 0 30px black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5in;
    list-style: none;
    border: 0px;
    margin: 40px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
    width: 80%; 
    position: relative;
    left: 7%;
    
}

#section {
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 0 0 30px black;
    width: 40%; 
    padding: 0.5in;
    height: 100%;
    position:relative;
    left: 30%;
    right: 30%;
}

#form {
    font-size: larger;
    font-family: 'Raleway', sans-serif;
    border:0px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 1cm;
}

.slots {
    height: 0.75cm;
    width: 3in;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.gender:hover{
cursor: pointer;
}

#newline{
    height: 0.5cm;
    width: 3in;
    border: 0cm;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
#newline:hover{
    border: 0px;
    border-bottom: 1px solid black;
}

#submit {
    font-size: medium;
    font-weight: 600;
    font-family:'Raleway',sans-serif;
    border: 0px;
    border-radius: 10px;
    width:1.5in;
    height: 1cm;
    background-color: aliceblue;
}

#submit:hover{
    background-color: green;
}